.vs/

*.ide

*.cache

*.ide-wal

.vs/Poker dream/v15/.suo

.vs/Poker dream/v15/Server/sqlite3/storage.ide

.vs/Poker dream/v15/Server/sqlite3/storage.ide-shm

Poker dream.sln
.vs/Poker dream/v15/.suo
.vs/Poker dream/v15/Server/sqlite3/storage.ide
.vs/Poker dream/v15/.suo
.vs/Poker dream/v15/Server/sqlite3/storage.ide
.vs/Poker dream/v15/Server/sqlite3/storage.ide
.vs/Poker dream/v15/.suo
